BasedOnStyle: Microsoft
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: Align
BreakBeforeBraces: Attach
BraceWrapping:
	SplitEmptyFunction: False
TabWidth: 4
ContinuationIndentWidth: 2
